.root {
  width: 100%;
  height: 100vh;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 131, 45);
  background: linear-gradient(
    11deg,
    rgba(255, 131, 45, 1) 0%,
    rgba(255, 119, 219, 1) 100%
  );
}
.logiCard {
  width: 350px;
}
.iconContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f77c34;
  height: 50px;
}
.homeIcon{
  width: 64px;
  height: 60px;
  font-size: 64px;
}
.loginButtonContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}
