<div class="root">
  <div class="formContainer">
    <mat-card class="logiCard">
      <div class="iconContainer">
        <mat-icon class="homeIcon">home</mat-icon>
      </div>
      <mat-card-title style="margin-top: 32px; margin-bottom: 16px;">
        <p style="color: #f77c34;">
          {{text_data._login_title}}
        </p>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{text_data._login_uname}}</mat-label>
          <input matInput />
          <mat-icon matSuffix style="color: #f77c34;">account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{text_data._pass_word}}</mat-label>
          <input [type]="this.pass_hide ? 'password' : 'text'" matInput />
          <button mat-icon-button matSuffix (click)="this.pass_hide = !this.pass_hide">
            <mat-icon style="color: #f77c34;">{{this.pass_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <div class="loginButtonContainer" style="margin-bottom: 32px;">
        <button type="button" mat-stroked-button color="primary">{{text_data._login_bt}}</button>
        <p style="margin-top: 8px;">{{text_data._pass_forgot.split('$')[0]}}
          <span style="color: #f77c34; cursor: pointer;">
            {{text_data._pass_forgot.split('$')[1]}}
          </span>
        </p>
      </div>
    </mat-card>
  </div>
</div>
