/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input {
  color: #e65d2c !important;
}
button{
  border-radius: 50px !important;
  border-color: #f77c34 !important;
}
